* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countdown {
  display: inline-flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 70px;
  width: 200px;
}
.title {
  font-size: 130px;
  margin-top: 5%;
  margin-bottom: 3%;
  color: aqua;
  font-family: "Pixelify Sans", sans-serif;
}

.points {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.board {
  width: 600px;
  height: 600px;
  background: url("images/soil.jpg");
  background-size: cover;
  border: 3px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hole {
  position: relative;
  background-color: black;
  border-radius: 50%;
  box-shadow: inset 0 10px 0 7px rgb(78, 45, 14);
  width: 160px;
  height: 70px;
  margin-top: 1em;
  overflow: hidden;
}

.mole {
  display: none;
  position: absolute;
  height: 200px;
  top: -50px;
  left: -30px;
  z-index: 1;
}
@keyframes appear {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-1%);
  }
}

.bomb {
  display: none;
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 1;
}

.bomb-animate {
  animation: appear 1s forwards;
}
.mole-animate {
  animation: appear 1s forwards;
}

#countdown.you-win {
  color: greenyellow;
}

#countdown {
  width: 500px;
  color: white;
}

#countdown.game-over {
  font-size: 50px;
  text-align: center;
  color: red;
}

.buttons button {
  font-size: 30px;
  margin-bottom: 20px;
}
